.node-type-page-group .node-page-group .field-name-page-group-sub-pages {
  border:1px solid #aaa;
  padding:10px;
  margin-top:0px;
}

.node-type-page-group .node-page-group .field-name-page-group-sub-pages .field-item .node {
  display:none;
}

.node-type-page-group .node-page-group .field-name-page-group-sub-pages .field-item .node.active {
  display:block;
}

.node-type-page-group .content {
  margin-top:0px;
  padding-top:0px;
}

.node-type-page-group .tabbed-group-menu ul,
.node-type-page-group .tabbed-group-menu ul li {
  list-style-type:none;
  list-style-image:none;
  list-style:none;
  margin:0px;
  padding:0px;
}

.node-type-page-group .tabbed-group-menu ul li {
 display:inline-block; 
}

.node-type-page-group .tabbed-group-menu li a {
  border:1px solid #aaa;
  border-bottom:0;
  display:block;
  padding:5px 10px;
  margin-right:5px;
  background-color:#eee;
}

.node-type-page-group .tabbed-group-menu li a.active {
  background-color:#fff;
  padding-bottom: 6px;
  margin-bottom: -2px;
}